@font-face {
  font-family: BannerFont;
  src: url(../assets/Silkscreen/slkscreb.ttf);
  font-weight: bold;
}
@font-face {
  font-family: ContentFont;
  src: url(../assets/Silkscreen/slkscr.ttf);
}

:root {
  --banner-color: black;
  --base-color: black;
  --block-color: white;
  --banner-text-color: white;
  --content-text-color: black;
}


/* ================================== */

body {
  background-color: var(--base-color);
  background-size: cover;
  font-family: ContentFont;
}

h1 {
  background-color: var(--banner-color);
  color: var(--banner-text-color);
  margin: auto;
  padding: 10px;
  text-align: center;
  font-size: 40px;
}

p {
  color: var(--content-text-color);
}

.containerbox {
  width: 750px;
  height: auto;
  background-color: var(--block-color);
  margin: auto;
  margin-top: 70px;
  padding: 10px;
}

/* 
  .projects-parent {
    background-color: green;
    width: 300px;
    padding: 10px;
    border: 2px solid black;
    margin: 50;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
  }

  .projects-child {
    background-color: yellow;
    width: 50px;
    padding: 10px;
    border: 2px solid red;
    margin: 50;
  }

  .projects-child:hover {
    background-color: green;
    width: 50px;
    padding: 10px;
    border: 2px solid red;
    margin: 50;
  } */
