@import "../../../global.scss";
.projectList {
  font-size: 12px;
  margin-right: 5px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;

  &.active {
    background-color: $mainColor;
    color: white;
  }
}
