@import "../../global.scss";

.projects {
  // overflow: hidden;
  // background-color: lightblue;
  scroll-snap-align: start;
  // scroll-padding-bottom: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;

  min-height: 100%;

  .sectionTitle {
    margin: auto;
    justify-self: center;
    top: 150px;
  }

  .projectList {
    .lineContainer {
      padding-bottom: 30px;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;

    .projectContainer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 40px;
      margin-bottom: 40px;
      margin-left: 5px;
      margin-right: 5px;

      .left {
        flex: 3 1 0;

        display: flex;
        align-items: center;
        justify-content: right;
        // justify-content: center;

        .projectImage {
          width: 90%;
          height: auto;
        }
      }

      .right {
        flex: 4 1 0;
        align-self: center;

        .iconContainer {
          padding-top: 10px;
          padding-left: 10px;
          // background-color: aqua;
          // justify-content: space-around;
        }
      }
    }
    @include mobile {
      .projectContainer {
        flex-direction: column;

        .left {
          flex: 1 1 0;

          display: flex;
          justify-content: center;

          .projectImage {
            width: 100%;
            height: auto;
          }
        }

        .lineContainer {
          display: none;
        }

        .right {
          flex: 1 1 0;
        }
      }
    }
  }
}
