@import "../../global.scss";

.projects {
  // background-color: lightblue;
  scroll-snap-align: start;
  scroll-padding-bottom: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;

  min-height: 100%;

  //Section title
  h1 {
    margin: auto;
    justify-self: center;
    top: 100px;
    // background-color: blue;
  }

  //List
  .projectList {
    .lineContainer {
      padding-bottom: 30px;
    }

    // background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;

    //For each project
    .projectContainer {
      // scroll-snap-align: center;

      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 5px;
      padding-left: 5px;

      // background-color: orange;

      .imageContainer {
        // background-color: blue;
        flex: 2 1 0;

        display: flex;
        align-items: center;
        justify-content: right;

        img {
          // width: 65%;
          width: 400px;
          height: auto;
        }
      }

      .right {
        flex: 3 1 0;
        align-self: center;
        //Title
        h3 {
          // background-color: yellow;
        }

        //description
        p {
          // background-color: violet;
        }
      }
    }
  }
}
