@import "../../global.scss";

// @keyframes fadein {
//   0% {
//     opacity: 0;
//   }
// }

.loader {
  // background-color: aqua;
  transition-property: transform, opacity;
  transition-duration: 0.7s;
  transition-timing-function: ease-in;
}

.in-view {
  transform: none;
  opacity: 1;
}
.out-of-view {
  transform: translateY(10px);
  opacity: 0;
}
