@import "../../global.scss";

.container {
  margin-top: $topbarHeight;
  padding: 20px;
  scroll-snap-align: start;
  display: flex;
  padding-bottom: 10vh;
  background-color: palegoldenrod;
  flex-direction: column;
}

.markdown {
  // some root styles here
  background-color: lightgray;

  ul {
    background-color: red;
    list-style-type: disc;
  }

  li {
    display: list-item;
    overflow-x: visible;
  }

  img {
    // width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
