@import "../../global.scss";

.postlist {
  margin-top: $topbarHeight;
  padding: 20px;
  scroll-snap-align: start;
  display: flex;
  padding-bottom: 10vh;
  flex-direction: column;
  // background-color: palevioletred;

  .postLink {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
  }
  .postLink:hover {
    background-color: red;
  }
}
