@font-face {
  font-family: BannerFont;
  src: url(../assets/Silkscreen/slkscreb.ttf);
  font-weight: bold;
}
@font-face {
  font-family: ContentFont;
  src: url(../assets/Silkscreen/slkscr.ttf);
}

:root {
  --banner-color: black;
  --base-color: black;
  --block-color: white;
  --banner-text-color: white;
  --content-text-color: black;
  --hover-color: grey;
}

body {
  background-color: var(--base-color);
  background-size: cover;
  font-family: ContentFont;
}



h1 {
  background-color: var(--banner-color);
  color: var(--banner-text-color);
  margin: auto;
  padding: 10px;
  text-align: center;
  font-size: 40px;
}

p {
  color: var(--content-text-color);
}

.containerbox {
  width: 750px;
  height: auto;
  background-color: var(--block-color);
  margin: auto;
  margin-top: 70px;
  padding: 10px;
}


.profile-image{
  width: 90%;
  padding: 10px;
}

.image-about-box{
  display: grid;
  grid-template-columns: 40% 1fr;
}

.socials-grid{
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.resume-holder{
  margin-right: 47%;
}

.icon-pair{
  margin: 10px;
  display: grid;
  grid-template-columns: 20% 1fr;
}

.icon-pair:hover{
  background-color: var(--hover-color);
  border-radius: 15px;
  text-decoration: underline;
}

.icon-pair-text{
  margin: auto 2%;
  font-size: large;
}

.icon-pair-image{
  width: 75%;
}


/* PROJECTS */

/* Update test1 */

.project-box{
  /* background-color: var(--hover-color); */
  border-style: solid;
  margin: auto;
  margin-top: 10px;
}

h2 {
  background-color: var(--banner-color);
  color: var(--banner-text-color);
  padding: 10px;
  text-align: left;
  font-size: 28px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.project-grid{
  display: grid;
  grid-template-columns: 20% 1fr;
}

.project-image{
  width: 100%;
}

.project-description{
  font-size: medium;
  margin: auto;
}

.project-linkgrid2{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-linkgrid3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.project-link-button{
  border-style: solid; 
  border-color: red;

  margin: auto;
}

/* Test2 */


