@font-face {
  font-family: BannerFont;
  src: url(../assets/Silkscreen/slkscreb.ttf);
  font-weight: bold;
}
@font-face {
  font-family: ContentFont;
  src: url(../assets/Silkscreen/slkscr.ttf);
}

:root {
  --banner-color: black;
  --base-color: black;
  --block-color: white;
  --banner-text-color: white;
  --content-text-color: black;
  --hover-color: grey;
  --lightblack-color: #404040;
  --border-color : black;
}

body {
  background-color: var(--base-color);
  background-size: cover;
  font-family: ContentFont;
}



h1 {
  background-color: var(--banner-color);
  color: var(--banner-text-color);
  margin: auto;
  padding: 10px;
  text-align: center;
  font-size: 40px;
}

p {
  color: var(--content-text-color);
}

.containerbox {
  width: 750px;
  height: auto;
  background-color: var(--block-color);
  margin: auto;
  margin-top: 70px;
  padding: 10px;
}


.profile-image{
  width: 90%;
  padding: 10px;
  border-radius: 50%;
}

.image-about-box{
  display: grid;
  grid-template-columns: 40% 1fr;
}

.socials-grid{
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.resume-holder{
  margin-right: 47%;
}

.icon-pair{
  margin: 10px;
  display: grid;
  grid-template-columns: 20% 1fr;

}

.icon-pair:hover{
  background-color: var(--hover-color);
  border-radius: 15px;
  text-decoration: underline;
}

.icon-pair-text{
  margin: auto;
  font-size: large;
}

.icon-pair-image{
  width: 75%;
  margin: auto;
}





/* Experience and PROJECTS */

/* Update test1 */
.project-box{
  /* background-color: var(--hover-color); */
  border-style: solid;
  /* margin: auto; */
  margin-top: 10px;
}

h2 {
  background-color: var(--banner-color);
  color: var(--banner-text-color);
  padding: 10px;
  text-align: left;
  font-size: 28px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.project-grid{
  display: grid;
  grid-template-columns: 20% 1fr;
}

.experience-grid{
  display: grid;
  grid-template-columns: 15% 1fr;
}

.project-image{
  width: 100%;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  /* border-style: solid; */
}


.experience-image{
  width: 100%;
  /* padding-top: 20%; */
  /* padding-top: 20%; */
  margin-left: 2%;
  margin-top: 20%;
  margin-bottom: 1%;
}

.project-rightbox{
  margin-left: 2%;
}

.project-org{
  margin-top: 1%;
  margin-bottom: 0px;
  /* margin: 0%; */
}

.project-date{
  margin-top: 1%;
  margin-bottom: 0px;
  color: var(--lightblack-color);
  /* margin: 0%; */
}

.project-description{
  font-size: medium;
  margin-top: 2%;
}

.project-description >*{
  margin-top:0px;
  margin-bottom:1.5%
}

.project-linkgrid1{
  width: 30%;

  margin-left: auto;
  margin-right: auto;
}

.project-linkgrid2{
  width: 60%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
}

.project-linkgrid3{
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
}

.project-link-button{
  border-style: solid; 
  border-color: var(--border-color);

  width: 80%;
  text-align: center;
  border-radius: 15px;
}

.project-link-button:hover{
  background-color: var(--hover-color);
  text-decoration: underline;
  border-radius: 15px;
}

/* Test3 */


