body {
    background-color: rgb(220, 232, 236);
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }

  
  .projects-parent {
    background-color: green;
    width: 300px;
    padding: 10px;
    border: 2px solid black;
    margin: 50;
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr /*number of columns here */
  }

  .projects-child {
    background-color: yellow;
    width: 50px;
    padding: 10px;
    border: 2px solid red;
    margin: 50;
    /* flex: 1; */
  }

  .projects-child:hover {
    background-color: green;
    width: 50px;
    padding: 10px;
    border: 2px solid red;
    margin: 50;
    /* flex: 1; */
  }