@import "../../global.scss";
@import "./Overlay.scss";

.resumeContainer {
  flex: 1 0 0;
  height: 90vh;
  width: 80vw;
}

.resume {
  // background-color: blue;
  justify-self: center;
  width: 100%;
  height: 100%;
}
