@import "../../global.scss";

.preview {
  margin-top: 1vw;
  display: flex;
  flex-direction: row;

  .left {
    // width: 10vw;
    max-width: 100px;
    .image {
      width: 100%;
    }
  }

  .right {
    // width: 60%;
    .company {
    }
    .roleinfo {
      display: flex;
      flex-wrap: wrap;
      .role {
      }
      .dates {
      }
    }

    .bullets {
      list-style-type: circle;
      // list-style: circle;

      .bullet {
      }
    }

    .linkContainer {
      display: flex;
      flex-direction: row;
      height: 35px;

      a {
        img {
          height: 100%;
        }
      }
      a:hover {
        border-color: black;
        border-width: 1px;
        border-style: solid;
      }

      .link {
      }
      .src {
      }
      .read {
      }
    }
  }

  @include mobile {
  }
}
