@import "../../global.scss";

.preview {
  margin-top: 1vw;
  display: flex;
  flex-direction: row;

  .left {
    // width: 10vw;
    max-width: 100px;
    .image {
      width: 100%;
    }
  }

  .right {
    // width: 60%;
    .company {
    }
    .roleinfo {
      display: flex;
      flex-wrap: wrap;
      .role {
      }
      .dates {
      }
    }

    .bullets {
      list-style-type: circle;
      // list-style: circle;

      .bullet {
      }
    }

    .linkContainer {
      width: 100%;
      display: flex;
      flex-direction: row;
      height: 30px;
      justify-content: right;

      a {
        margin-left: 10px;
        display: flex;
        align-items: flex-end;

        img {
          height: 100%;
        }
      }
      a:hover {
        background-color: blue;
      }
    }
  }

  @include mobile {
  }
}
