@import "../../global.scss";

.art {
  // background-color: lightblue;
  scroll-snap-align: start;
  // scroll-padding-bottom: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;

  min-height: 100%;

  //Section title
  h1 {
    margin: auto;
    justify-self: center;
    top: 150px;
    // background-color: gray;
  }

  .lineContainer {
    padding-bottom: 30px;
    width: 100%;
    // background-color: blue;
  }

  .gallery {
    width: 95%;
    background-color: red;
    flex: auto;

    .imageContainer {
      img {
        width: 100%;
      }
      img:hover {
      }
    }
  }
}
