@import "./global.scss";

.app {
  height: 100%;
  overflow: auto;

  // scroll-behavior: smooth;
  // scroll-padding-top: $topbarHeight;

  // height: 100%;
  // overflow: auto;

  // scrollbar-width: none;
  // &::-webkit-scrollbar {
  //   display: none;
  // }

  .body {
    height: 100%;
  }
}
