$mainColor: rgb(0, 0, 0);
$lightColor: rgb(250, 250, 250);
$accentColor: rgb(194, 45, 0);

$topbarHeight: 70px;
$width: 768px;

@mixin mobile {
  @media (max-width : #{$width}) {
    @content;
  }
}

.sectionTitle {
  // background-color: yellow;
  text-decoration: underline;
}
